<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        <title>4x4 House</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link href="site-design.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="house-title">
                <h1>4x4 House</h1>
            </div>
            <nav class="nav-main">
               
                <a class="nav-main-item" href="Exhibition.page.html">Exhibition</a>
                <a class="nav-main-item" href="Langen.page.html">Langen Foundation</a>
                <a class="nav-main-item" href="Home-page.html">Home</a>
                <a class="nav-main-item" href="biography.page.html">Biography</a>
                

            </nav>
        </header>

        <div class="background">
            <div class="images">
                <img src="site-photos/House-1.jpg" alt="potrait photo.
                "width="550" height="400">
                <img src="site-photos/House-2.jpg" alt="potrait photo.
                "width="550" height="400">
            </div>
        </div>
        <div class="proj-content">
            <p>
                During his design on the 4x4 House, Ando wanted to design a 
                house that wasn’t your conventional house that stood out but also 
                retain its simplicity. From his work, alot of his signature deisgns 
                are in play like the use of the smooth concrete texture and conrete color. 
                The deisgn was also unarthodox  as most houses didn’t follow the same shape 
                like Ando’s 4x4 house. He design it in a way that would be symtrical when the 
                2 houses were stood together. The houses were also very simple as there were no 
                intricate design aspects to the houses.  
            </p>
        </div>

        <div class="image3-text3">
            <img src="site-photos/interior2.jpg" alt="potrait photo.
            "width="636" height="427">
            <div class="text3">
                <p>"I don't believe architecture has to speak too much. It should remain silent 
                    and let nature in the guise of sunlight and wind."
                </p>
            </div>
        </div>

        <div class="image4-text4">
            <div class="text4">
                <p>
                    “To create architecture is to express characteristic aspects of the real world such as nature, 
                    history, tradition and society, in a spatial structure”
                </p>
            </div>
            <img src="site-photos/interior3.jpg" alt="potrait photo.
            "width="636" height="427">
        </div>
        
        <div class="exterior">
            <img src="site-photos/exterior.jpg">
        </div>
    </body>
</html>