<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        <title>Tadao Ando</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

        <link href="site-design.css" rel="stylesheet">
    </head>
        
    <body>
        <header>

            <nav class="nav-main">
               
                <a class="nav-main-item" href="Exhibition.page.html">Exhibition</a>
                <a class="nav-main-item" href="Langen.page.html">Langen Foundation</a>
                <a class="nav-main-item" href="4x4-House.page.html">4x4 House</a>
                <a class="nav-main-item" href="Home-page.html">Home</a>
              
              
            </nav>
            <div class = "main-header">
                <h1>Tadao Ando</h1>
            </div>
        </header>

     
        <div class = "main-container"><!--Start of main-container-->
            <section id="Bio">

                <div class="paragraph-photo">

                    <div class="main-photo1">
                        <img src="site-photos/Tadao-Ando.jpg" alt="potrait photo">
                   
                    </div>

             
                    <div class="main-paragraph">
                        <p style="color:black">
                        Tadao Ando is a self-taught architect whose style concentrates on empty space
                        and nothingness to create a clean and weightless appearance to his projects. 
                        The most defining features of his architecture are his smooth concrete walls, 
                        thin large windows and wooden or stone floors. He signature design also includes 
                        grey tones and the colour of nature with the environment around the building. 
                        Nearly all of Ando’s architecture is geometric, drawing attention to the surrounding 
                        environment without being distracting. 
                        </p>
                    </div>
                
                </div> 
        
            </section>
        </div>
       
    </body>
</html>